@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html, body {
  background-color: #F7F8FA;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  color: #46444c;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #5A45FF;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
}

.title {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  color: #17161A;
}

.subtitle {
  font-size: 26px;
  margin-bottom: 40px;
}

p {
  margin-bottom: 20px;
}

section{
  display: flex;
}

img{
  width: 300px;
}

.personal-info span{
  text-transform: uppercase;
  font-size: 18px;
}

.container-receipt{
  width: 30%;
}

.form-line{
  width: 100%;
  margin-top: .8em;
}

.form-group-line{
  position: relative;
}

.form-group-line .form-control{
  width: 100%;
}

.form-group {
  position: relative;
  margin-right: 5%;
}

.form-control {
  padding: 10px;
  padding-left: 5px;
  color: gray;
  border: 0;
  border-radius: 5px;
  box-shadow: 3px 5px 11px -4px #000000;
}

.form-control-label {
  position: absolute;
  font-size: .5em;
  left: 5px;
}

.btn-complete{
  min-width: 100%;
  margin-top: 1em;
  background-color: rgba(128, 201, 55, 0.845);
  border: 0;
  color: #fff;
  text-transform: uppercase;
  padding: 1em 2em;
  border-radius: 5px;
}